In [1]:
import pandas as pd

In [2]:
market_caps = pd.read_csv("data/new/market_caps.csv").set_index("date")
prices = pd.read_csv("data/new/prices.csv").set_index("date")
volumes = pd.read_csv("data/new/volumes.csv").set_index("date")

In [5]:
#given dataframe, returns new dataframe with rankings of values in every row
def rank_df(df):
    columns = list(df.columns.values)
    mapper = {}
    for c in columns:
        mapper[c] = c+"_rank"
    
    return df.rank(axis=1, ascending=False).rename(columns=mapper)

In [6]:
rank_df(prices)

,bitcoin_price_rank,ethereum_price_rank,tether_price_rank,usd-coin_price_rank,binancecoin_price_rank,ripple_price_rank,binance-usd_price_rank,cardano_price_rank,dogecoin_price_rank,matic-network_price_rank,...,gods-unchained_price_rank,cult-dao_price_rank,snowbank_price_rank,gamefi_price_rank,litentry_price_rank,rootkit_price_rank,refinable_price_rank,tellor_price_rank,verus-coin_price_rank,gas_price_rank
date,,,,,,,,,,,,,,,,,,,,,
2018-01-01,1.0,5.0,46.0,NaN,28.0,39.0,NaN,54.0,72.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0
2018-01-02,1.0,5.0,49.0,NaN,29.0,38.0,NaN,53.0,72.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0
2018-01-03,1.0,5.0,50.0,NaN,28.0,38.0,NaN,48.0,72.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0
2018-01-04,1.0,5.0,52.0,NaN,29.0,38.0,NaN,47.0,73.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0
2018-01-05,1.0,5.0,51.0,NaN,25.0,38.0,NaN,49.0,73.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-11,2.0,15.0,167.0,166.0,22.0,252.0,163.0,256.0,358.0,190.0,...,276.0,482.0,24.0,81.0,195.0,NaN,445.0,62.0,244.0,119.0
2023-01-12,2.0,15.0,166.0,167.0,22.0,245.0,158.0,254.0,357.0,187.0,...,274.0,483.0,24.0,80.0,195.0,NaN,445.0,64.0,237.0,116.0
2023-01-13,2.0,14.0,164.0,166.0,22.0,248.0,163.0,257.0,357.0,188.0,...,277.0,484.0,24.0,82.0,196.0,18.0,445.0,64.0,237.0,117.0
2023-01-14,2.0,14.0,163.0,174.0,22.0,250.0,167.0,256.0,357.0,188.0,...,281.0,484.0,24.0,87.0,195.0,18.0,447.0,63.0,238.0,119.0
2023-01-15,4.0,17.0,177.0,171.0,23.0,254.0,181.0,259.0,358.0,180.0,...,269.0,485.0,25.0,88.0,194.0,20.0,445.0,66.0,238.0,121.0